@model IList<System.Globalization.CultureInfo>

@{
    ViewData["Title"] = "国际语言管理";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">添加语言</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              语言包  @*@Html.DisplayNameFor(model => model.Enabled)*@
            </th>
            <th>
              启用  @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                  @Html.DisplayFor(modelItem => item.DisplayName) (
                    @Html.DisplayFor(modelItem => item.Name) 
                                         @Html.DisplayFor(modelItem => item.EnglishName)
                                        @Html.DisplayFor(modelItem => item.NativeName))
                </td>
                <td>
                   @*@Html.DisplayFor(modelItem => item.Enabled)*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>