@using ResxFileSample.Models;
@using Microsoft.AspNetCore.Mvc.Localization;
@model IEnumerable<AliasCultureModel>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "国际语言管理";
}

<h2>Index</h2>

<p>
    <a asp-action="Add">@Localizer["CreateLang"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]@*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                @Localizer["Alia"]@*@Html.DisplayNameFor(model => model.Alia)*@
            </th>
            <th>@Localizer["Enabled"]@*@Html.DisplayNameFor(model => model.Enabled)*@</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Culture.NativeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    <a asp-action="EditLang" asp-route-id="@item.Name">@Localizer["EditLang"]</a>
                    <a asp-action="Edit" asp-route-id="@item.Name">@Localizer["EditResx"]</a> |
                    <a asp-action="DeleteLang" asp-route-id="@item.Name">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>